* {
  padding: 0;
  margin: 0;
  font-family:sans-serif;
  background:#303030;
  color: #FFA500;
  font-size: 1.5vh;
  margin-left: auto;
  margin-right: auto;
}

#bodyContentReducedWidth{
  max-width: 55vh;
}
.body {
	background:#303030;
}
.divTable { display:  table; }
.divRow { display:table-row; }
.divRow > div {
	float:left;/*fix for some browsers*/
	display:block;
	width:1vh;
	height:1vh;
}
.logoBackground { background: black; }
.logoFontcolor { background: white;}

#AppName { 
	font-size: 5vh; 
	text-align: center;
}
#AppNameLooselyTranslated {
	font-size: 2.5vh;
	font-style:italic;
	text-align: center;

}
#PlannedReleases, #PlannedReleases * { color: #808080; }

.badges, .badges * {
	width: 25vh;
}


