* {
  padding: 0;
  margin: 0;
  font-family:sans-serif;
  background:#303030;
  color: #FFA500;
  text-align: center;
  font-size: 2vh;
}

.body {background:#303030}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.divTable { display:  table; }
.divRow { display:table-row; }
.divRow > div {
	float:left;/*fix for  buggy browsers*/
	display:block;
	width:1vh;
	height:1vh;
}
.logoBackground { background: black; }
.logoFontcolor { background: white;}

#AppName { font-size: 5vh; }
#AppNameLooselyTranslated {
	font-size: 2.5vh;
	font-style:italic;
}
#PlannedReleases { color: #808080; }


